selector-wrapper {
  position: relative;
}

.selector {
  display: flex;
  gap: 20px;
}

.selector-item {
  cursor: pointer;
  font-size: 16px;
}

.selector-radio {
  display: none;
}

.selector-line {
  height: 1px;
  width: 100%;
  margin: 10px 0 0 0;
 
}

.selector-line.active {
  background-color: #f65261;
  height: 4px;
}

.bottom-line {
  margin: 0;
  position: absolute;
  width: 80%;
  height: 1px;
  top: 406px;
}
