.movie-details {
    display: flex;
    gap: 20px;
    background-color: #232323;
    color: white;
}

.movie-details  .movie-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.movie-details  .movie-content .movie-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-details  .movie-content .movie-title-wrapper .movie-close{
    cursor: pointer;
    font-size: 20px;
}


.movie-details  .movie-content .movie-title {
    display: flex;
    gap: 15px;
    align-items: center;
}


.movie-details  .movie-content .movie-title .name{
    font-weight: 600;
    font-size: 20px;
}

.movie-details  .movie-content .movie-title .rating{
    border: .1px solid white;
    padding: 8px;
    border-radius: 50%;
}


.movie-details  .movie-content .movie-specs {
    display: flex;
    gap: 20px;
    color: #F65261;
}