.search {
  justify-content: center;
  display: flex;
  gap: 6px;
}

.search-input {
  background-color: #424242;
  color: white;
  width: 713px;
  height: 57px;
  border-radius: 4px;
  opacity: 0.8;
  border: none;
  padding: 4px 10px;
  font-size: 20px;
  font-weight: 400;
}

.search-input:focus {
  outline: none;
}

